#heading{
    padding: 0 auto;
    display: flex;
    justify-content: center;
    /* border: 1px red solid; */

}
#main{
    margin: 2em auto;
    width: 400px;
    border: 1px grey solid;
    /* background-image: linear-gradient(to left ,purple ,violet); */
    background-image: url(1.jpg);
    /* background-color: gray; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* filter: blur(2px); */
    /* opacity: 0.8; */
    /* height: 150px; */

    justify-content: center;
    padding: 0px 10px 30px 10px; 
    border-radius: 30px;
}
#buttons{
    /* border: 1px red solid; */
    padding: 5px 3.4em;
    justify-content: center;
}
input{
    width: 90px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: skyblue;
    border: none;
    border-radius: 3px;
    outline: none;
}
#time{
    display: grid;
    grid-template-columns:  90px 90px 90px;
    grid-gap: 10px;
    justify-content: center;
}
#time>h1{
    /* background-color: alicebl+ue; */
    font-size: 50px;
    height: 50px;
    color: white !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
#recordBox{
    width: 400px ;
    height: 200px;
    margin: 0 auto;
    overflow-y: scroll;
    border: 1px solid gray;

}
ul,li{
    list-style-type: none;
}